<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="container">
      
      <form method="post" class="form-signin">
        <h2 class="form-signin-heading">Login Please</h2>
        <input type="text" name="username" value="{{username}}" class="form-control" placeholder="Username" required autofocus>
      
        <input type="password" name="password" value="" class="form-control" placeholder="Password" required autofocus> 
      
          
        </table>

        <div class="error">
          {{error}}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </body>

</html>
