<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--<script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script>
      function signinCallback(authResult) {

        if (authResult['status']['signed_in']) {
          // Update the app to reflect a signed in user
          // Hide the sign-in button now that the user is authorized, for example:
          alert("hello." + authResult['id_token']);

          document.getElementById('signinButton').setAttribute('style', 'display: none');
          window.userId = "testid";
          window.location = "http://ycai-blog.appspot.com/blog";

        } else {
          // Update the app to reflect a signed out user
          // Possible error values:
          //   "user_signed_out" - User is signed-out
          //   "access_denied" - User denied access to your app
          //   "immediate_failed" - Could not automatically log in the user
          alert("failed.");
          console.log('Sign-in state: ' + authResult['error']);
        }
      }
    </script>-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/blog">Yisheng's Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/blog">Home</a></li>
            <li><a href="/blog/newpost">New Post</a></li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>

    <div class="container">
      <form method="post" class="form-signin">
        <h2 class="form-signin-heading">Login Please</h2>

        {% if error %}
          <div id="form-error" class="form-group has-error has-feedback">
            
            <input type="text" name="username" value="{{username}}" class="form-control" placeholder="Username" required autofocus>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          </div>
          <div id="form-error" class="form-group has-error has-feedback">
            <input type="password" name="password" value="" class="form-control" placeholder="Password" required autofocus>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <label class="control-label">Username OR password invalid!</label>
          </div>
        {% else %}
          <div class="form-group">
            <input type="text" name="username" value="{{username}}" class="form-control" placeholder="Username" required autofocus>
      
            <input type="password" name="password" value="" class="form-control" placeholder="Password" required autofocus> 
          </div>
        {% endif %}
        

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="/signup">Don't have an account?</a>
        <!--<span id="signinButton">
          <span
            class="g-signin"
            data-callback="signinCallback"
            data-clientid="863521155924-7djolrbrhbgel5ag8so22p9rqugc4907.apps.googleusercontent.com"
            data-cookiepolicy="http://ycai-blog.appspot.com"
            data-requestvisibleactions="http://schema.org/AddAction"
            data-scope="https://www.googleapis.com/auth/plus.login">
          </span>
        </span>-->
      </form>
    </div>
  </body>
</html>
