<div class="post">
  <div class="post-heading">
    <h2>
      {{p.subject}}
      
    </h2>
    Posted by
    <div class="label label-warning">
      {{p.author}}
    </div>
    <h4>
      <div class="label label-info">
        {{p.created.strftime("%b %d, %Y")}}
      </div>
    </h4>
  </div>
  <hr>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <hr>

  {% for i in comments %}
    <div class="post-heading">
      <h2>
        {{i.subject}}
        
      </h2>
      Posted by
      <div class="label label-warning">
        {{i.author}}
      </div>
      <h4>
        <div class="label label-info">
          {{i.created.strftime("%b %d, %Y")}}
        </div>
      </h4>
    </div>
    <hr>

    <div class="post-content">
      {{i._render_text | safe}}
    </div>
  {% endfor %}

  <!--<form method="post" class="jumbotron">
    <div>
      <b>Comment</b>
      
      </div>
    <textarea class="form-control" name="content" rows="10" placeholder="(HTML formatting available)">{{content}}</textarea>
    

    <div class="error">{{error}}</div>
    <br><br>
    <input type="submit" class="btn btn-primary">
  </form>-->

  
</div>